#SUBSYSTEM=="net", ACTION=="add", KERNELS=="0000:01:00.0", NAME="port-mgmt"
#SUBSYSTEM=="net", ACTION=="add", KERNELS=="0000:02:00.0", NAME="port-wan"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="WAN_NM", NAME="port-wan"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="LAN_NM", NAME="port-lan0"
#SUBSYSTEM=="net", ACTION=="add", KERNEL=="eth2", NAME="port-lan2"
#SUBSYSTEM=="net", ACTION=="add", KERNEL=="eth3", NAME="port-lan3"

